
<!DOCTYPE html>
<php?
  include '/sistemas/views/header.php';
  ?>

  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>   
        <div class="btn-group btn-group-lg" role="group">
 
        <a href="http://www.itesg.edu.mx/index.php?option=com_content&amp;view=article&amp;id=68&amp;Itemid=572"><button type="button" style="color: #2EC3F8; font-size: 22px" class="btn btn-default">2018</button>
        </a><a href="http://www.itesg.edu.mx/index.php?option=com_content&amp;view=article&amp;id=75&amp;Itemid=572"><button type="button" style="color: #2EC3F8; font-size: 22px" class="btn btn-default">2019</button>
        </a><a href="http://www.itesg.edu.mx/index.php?option=com_content&amp;view=article&amp;id=79&amp;Itemid=572"><button type="button" style="color: #2EC3F8; font-size: 22px" class="btn btn-default">2020</button>
         </a><a href="http://www.itesg.edu.mx/index.php?option=com_content&amp;view=article&amp;id=87&amp;Itemid=572"><button type="button" style="color: #2EC3F8; font-size: 22px" class="btn btn-default">2021</button></a>
        <a href="http://www.itesg.edu.mx/index.php?option=com_content&amp;view=article&amp;id=92&amp;Itemid=572"><button type="button" style="color: #2EC3F8; font-size: 22px" class="btn btn-default">2022</button></a>
         <a href="http://www.itesg.edu.mx/index.php?option=com_content&amp;view=article&amp;id=99&amp;Itemid=572"><button type="button" style="color: #2EC3F8; font-size: 22px" class="btn btn-default">2023</button></a>
        <a href="http://www.itesg.edu.mx/index.php?option=com_content&amp;view=article&amp;id=104&amp;Itemid=572"><button type="button" style="color: #FB008A; font-size: 22px" class="btn btn-default">2024</button></a>
        </div>
</center>
</body>
</html>

  <php?
    include '/sistemas/views/footer.php';
  ?>

